__pycache__
build
dist
*.egg-info
.lingma
test_*
!smartpool/tests/test_*.py
result*.json
data
*.png
.vscode
.venv*
smartpool-doc
smartpool-experiments
dataset
*.onnx
*.jpg
.ruff_cache
.pytest_cache
*.code-workspace
__trtcache__
note.txt
*venv
